{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Amine maxime bingol!</title>
    </head>
    <body>
        <h1>Admin maxime bingol!</h1>
        
        <p>
            <form>

             <input >
            </form>			!
        </p>
    </body>
</html>